.form_addProduct{
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.inputProductNome{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;
    border-color:#303030;
    padding: 1px;
    width: 320%;
    height: 30px;
 
    margin-top: 70%;
    margin-left: 150%;
        
}
.inputProductNome input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputProductPreco{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;
    border-color:#303030;
    padding: 1px;
    width: 320%;
    height: 30px;
 
    margin-top: 10%;
    margin-left: 150%;
        
}
.inputProductPreco input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputProductEstoque{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;
    border-color:#303030;
    padding: 1px;
    width: 151%;
    height: 30px;
 
    margin-top: 25%;
    margin-left: 150%;
        
}
.inputProductEstoque input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputProductCategoria{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;
    border-color:#303030;
    padding: 1px;
    width: 151%;
    height: 30px;
 
    margin-top: -14%;
    margin-left: 320%;
        
}
.inputProductCategoria input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.btnAddProduct{
  display: flex;  
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    border-color:#070707;
    background-color: #070707;
    color: #ffffff;
    padding: 1px;
    width: 55%;
    border-radius: 5px;
    height: 40px;
    font: 600 17px Nunito, sans-serif;
    margin-top: 30%;
    margin-left: 415%;    
}
.btnAddProduct:hover{
  background-color: #5f985e;
  border-color: #5f985e;
  border-right: #5f985e;
}
.btnAddProductLimpar{
  display: flex;  
  align-items: center;
  justify-content: center;
  border-bottom: 0px solid;
  font: 600 17px Nunito, sans-serif;
  border-color:#ffffff;
  background-color:#ffffff;
  color: #070707;
  padding: 1px;
  width: 55%;
  border-radius: 5px;
  height: 40px;

  margin-top: -19%;
  margin-left: 319%;
  border-right: #ffffff;
}
.btnAddProductLimpar:hover{
  background-color: #adadad;
}