.form_altAdmin{
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.inputAdmLogin2_alt{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;

    padding: 1px;
    width: 320%;
    height: 30px;
 
    margin-top: 70%;
    margin-left: 150%;
    
}
.inputAdmLogin2_alt input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}

.inputAdmLogin_alt{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;

    padding: 1px;
    width: 151%;
    height: 30px;
 
    margin-top: 6%;
    margin-left: 150%;
    
}
.inputAdmLogin_alt input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputAdmNome_alt{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;
    border-color:#303030;
    padding: 1px;
    width: 320%;
    height: 30px;
 
    margin-top: 40%;
    margin-left: 150%;
        
}
.inputAdmNome_alt input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputAdmEmail_alt{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;

    padding: 1px;
    width: 151%;
    height: 30px;
 
    margin-top: 30%;
    margin-left: 150%;
     
}
.inputAdmEmail_alt input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputAdmSenha_alt{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;

    padding: 1px;
    width: 151%;
    height: 30px;
 
    margin-top: -34%;
    margin-left: 320%;
     
}
.inputAdmSenha_alt input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.inputAdmSenhaConfirmar_alt{
  display: flex;  
    align-items: center;
    border-bottom: 1px solid black;

    padding: 1px;
    width: 151%;
    height: 30px;
 
    margin-top: 6%;
    margin-left: 320%;
}
.inputAdmSenhaConfirmar_alt input{
  background: transparent;
    width: 100%;
    outline-width: 0;
    color:  black;
    border: none;
    font: 600 17px Nunito, sans-serif;
    margin-left: 2px;
    margin-right: 10px;
}
.btnAltAdm{
  display: flex;  
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    border-color:#070707;
    background-color: #070707;
    color: #ffffff;
    padding: 1px;
    width: 55%;
    border-radius: 5px;
    height: 40px;
    font: 600 17px Nunito, sans-serif;
    margin-top: 30%;
    margin-left: 415%;    
}
.btnExcAdm{
  display: flex;  
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    border-color:#ffffff;
    background-color:#ffffff;
    color: #070707;
    padding: 1px;
    width: 194%;
    border-radius: 5px;
    height: 38px;
    font: 600 17px Nunito, sans-serif;
    margin-top: 895%;
    margin-left: 900%; 
    border-right: #ffffff;   
}
.btnAltAdmLimpar{
  display: flex;  
  align-items: center;
  justify-content: center;
  border-bottom: 0px solid;
  font: 600 17px Nunito, sans-serif;
  border-color:#ffffff;
  background-color:#ffffff;
  color: #070707;
  padding: 1px;
  width: 55%;
  border-radius: 5px;
  height: 40px;

  margin-top: -19%;
  margin-left: 319%;
  border-right: #ffffff;
}
.btnFindAdm{
  display: flex;  
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    border-color:#adadad;
    border-right: #adadad;
    border-left: #adadad;
    border-top: #adadad;
    background-color:#adadad;
    color: #ffffff;
    padding: 1px;
    width: 120%;
    border-radius: 5px;
    height: 40px;
    font: 600 17px Nunito, sans-serif;
    margin-top:280%;
    margin-left: 1300%;    
}
.btnFindAdm:hover{
  background-color: #070707;
}
.btnAltAdmLimpar:hover{
  background-color: #adadad;
}
.btnAltAdm:hover{
  background-color: #5f985e;
  border-color: #5f985e;
  border-right: #5f985e;
}
.btnExcAdm:hover{
  background-color: red;
  border-color: red;
  border-right: red;
}